{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container4">
        <div class="row">
            <div class="col-md-6">
                <div class="box">
        <h3>About this project</h3>
        <br>
        <p>This project is primarily intended for demonstrative and educational purposes, aiming to showcase my ability to extend the functionality of Django beyond its built-in features. While it is acknowledged that there are well-established cryptography libraries available, such as <strong>PyCryptodome, Cryptography, PyNaCl, PyOpenSSL, Fernet, Keyczar, M2Crypto</strong>, I have chosen to implement my own encryption logic to showcase my expertise and creative problem-solving skills.</p>
                    <br>

            <p>By developing custom encryption and decryption functionalities in the <strong>encryption.py</strong> file within the app folder, and further refining the file processing in <strong>file_encryption.py</strong> of the second app folder, I aimed to illustrate my ability to go beyond the conventional approaches and demonstrate the full potential of Django framework.</p>
            <br>
           <p>While relying on established libraries for encryption is undoubtedly prudent in professional settings to ensure security and avoid potential vulnerabilities, this project emphasizes my willingness to explore new approaches and delve into the underlying mechanisms of encryption algorithms. 
        </p>
                </div></div></div>
    </div>

{% endblock %}